/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#map-container { height: 750px;
 width: 1125px
}
.navbar {
  margin-bottom: 0px;
}
.jumbotron {
  background-color: beige;
  margin-bottom: 0px;
  margin-top: 0px;
}
#stats dt{
  font-size: 25px;
  font-family: sans-serif;
}
#stats dl{
  font-size: 20px;
  font-family: arabic-indic;
}












